NEXT_PUBLIC_API_URL = http://localhost:3000/api/
API_SECRET = ZXNlIHBvYnJlIGxlY2hvbiBxdWUgbXVyaW8gZGUgcmVwZW50ZQ==
DATABASE_HOST = YOUR_MONGO_DB_HOST
DATABASE_USER = YOUR_MONGO_DB_USER
DATABASE_PASSWORD = YOUR_MONGO_DB_PASSWORD
DATABASE_NAME = MONGO_DB_NAME
```